#gallery {
    display: flex;
    justify-content: space-between;

}

#gallery>li {
    list-style: none;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}


#boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}